Repository provectus/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Haarolean, @provectus/kafka-backend, @provectus/kafka-frontend, @provectus/kafka-qa, @provectus/kafka-devops

.github/CODEOWNERS:

*                           @Haarolean


# BACKEND
/pom.xml                    @provectus/kafka-backend

/kafka-ui-contract/         @provectus/kafka-backend

/kafka-ui-api/              @provectus/kafka-backend

# FRONTEND
/kafka-ui-react-app/        @provectus/kafka-frontend

# TESTS
/kafka-ui-e2e-checks/       @provectus/kafka-qa

# HELM CHARTS
/charts/                    @provectus/kafka-devops

Support basic authentication for KSQL server
  README.md
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/client/KsqlClient.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/config/ClustersProperties.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/mapper/ClusterMapper.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/model/InternalKsqlServer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/model/KafkaCluster.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/KsqlService.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/ksql/KsqlApiClient.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/KsqlServiceTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/ksql/KsqlApiClientTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/ksql/KsqlServiceV2Test.java
Owners: @Haarolean, @provectus/kafka-backend

Update running.md
  documentation/project/contributing/running.md
Owners: @Haarolean

Resolve mr issues
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/config/ClustersProperties.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/model/InternalKsqlServer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/ksql/KsqlApiClient.java
Owners: @provectus/kafka-backend

Update running.md (#2248)
  documentation/project/contributing/running.md
Owners: @Haarolean

fixing some test cases and fixing width of stream props
  kafka-ui-react-app/src/components/KsqlDb/Query/QueryForm/QueryForm.styled.ts
  kafka-ui-react-app/src/components/KsqlDb/Query/QueryForm/QueryForm.tsx
  kafka-ui-react-app/src/components/KsqlDb/Query/QueryForm/__test__/QueryForm.spec.tsx
  kafka-ui-react-app/src/components/KsqlDb/Query/__test__/Query.spec.tsx
Owners: @provectus/kafka-frontend

KSQLDB: Support Basic Auth (#2247)
  README.md
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/client/KsqlClient.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/config/ClustersProperties.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/mapper/ClusterMapper.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/model/InternalKsqlServer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/model/KafkaCluster.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/KsqlService.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/ksql/KsqlApiClient.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/KsqlServiceTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/ksql/KsqlApiClientTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/ksql/KsqlServiceV2Test.java
Owners: @Haarolean, @provectus/kafka-backend

PR review fixes
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/config/ClustersProperties.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ClusterSerdes.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/CustomSerdeLoader.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/Int32Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/Int64Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/UInt32Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/UInt64Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/DeserializationService.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/UInt32SerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/UInt64SerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerdeTest.java
  kafka-ui-contract/src/main/resources/swagger/kafka-ui-api.yaml
  kafka-ui-serde/src/main/java/com/provectus/kafka/ui/serde/api/Serde.java
  pom.xml
Owners: @provectus/kafka-backend, @Haarolean

checkstyle fix
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ClusterSerdes.java
Owners: @provectus/kafka-backend
