Repository provectus/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Haarolean, @provectus/kafka-backend, @provectus/kafka-frontend, @provectus/kafka-qa, @provectus/kafka-devops

do not run remove action if label not set
  .github/workflows/branch-remove.yml
Owners: @Haarolean

do not run remove action if label not set
  .github/workflows/branch-remove.yml
Owners: @Haarolean

Make max-in-memory configurable for webclients (#2139)
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/client/KafkaConnectClients.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/client/KafkaConnectClientsFactory.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/client/RetryingKafkaConnectClient.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/KafkaConnectService.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/ksql/KsqlApiClient.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/ksql/KsqlServiceV2.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/ksql/KsqlApiClientTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/ksql/KsqlServiceV2Test.java
Owners: @provectus/kafka-backend

do not run remove action if label not set
  .github/workflows/branch-remove.yml
Owners: @Haarolean

test
  kafka-ui-react-app/README.md
Owners: @provectus/kafka-frontend

add not available message
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerMetrics/BrokerMetrics.tsx
Owners: @provectus/kafka-frontend

try to fix BrokerLogdir tests
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerLogdir/BrokerLogdir.tsx
  kafka-ui-react-app/src/components/Brokers/__test__/Brokers.spec.tsx
  kafka-ui-react-app/src/components/Brokers/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Brokers/utils/translateLogdirs.ts
Owners: @provectus/kafka-frontend

do not add comments if label was not set
  .github/workflows/branch-remove.yml
Owners: @Haarolean

add tests for translateLogdir and translateLogdirs
  kafka-ui-react-app/src/components/Brokers/__test__/Brokers.spec.tsx
  kafka-ui-react-app/src/components/Brokers/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Brokers/utils/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Brokers/utils/__test__/translateLogdirs.spec.tsx
Owners: @provectus/kafka-frontend

add tests for translateLogdir and translateLogdirs
  kafka-ui-react-app/src/components/Brokers/utils/__test__/translateLogdirs.spec.tsx
Owners: @provectus/kafka-frontend

fixing forms not no be able to submit until all required fields are filled
  kafka-ui-react-app/src/components/Schemas/New/New.tsx
  kafka-ui-react-app/src/components/Topics/New/__test__/New.spec.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/Edit.spec.tsx
  kafka-ui-react-app/src/components/Topics/shared/Form/TopicForm.tsx
  kafka-ui-react-app/src/components/Topics/shared/Form/__tests__/TopicForm.spec.tsx
Owners: @provectus/kafka-frontend

Upgrade dependencies
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
Owners: @provectus/kafka-frontend

Migrate FE app to pnpm
  .github/workflows/frontend.yaml
  kafka-ui-api/pom.xml
  kafka-ui-contract/pom.xml
  kafka-ui-react-app/.gitignore
  kafka-ui-react-app/README.md
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
  kafka-ui-react-app/pnpm-lock.yaml
  pom.xml
Owners: @Haarolean, @provectus/kafka-backend, @provectus/kafka-frontend

add tests for metrics page
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerMetrics/BrokerMetrics.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerMetrics/__test__/BrokerMetrics.spec.tsx
  kafka-ui-react-app/src/components/Brokers/utils/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Brokers/utils/__test__/getEditorText.spec.tsx
  kafka-ui-react-app/src/components/Brokers/utils/__test__/translateLogdirs.spec.tsx
  kafka-ui-react-app/src/components/Brokers/utils/getEditorText.ts
Owners: @provectus/kafka-frontend

Get rid of feature-testing useless comments (#2219)
  .github/workflows/branch-remove.yml
Owners: @Haarolean

fix review comments
  kafka-ui-react-app/src/components/Brokers/Broker/Broker.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerLogdir/__test__/BrokerLogdir.spec.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerMetrics/__test__/BrokerMetrics.spec.tsx
  kafka-ui-react-app/src/components/Brokers/BrokersList/BrokersList.tsx
Owners: @provectus/kafka-frontend

fix unused var
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerMetrics/__test__/BrokerMetrics.spec.tsx
Owners: @provectus/kafka-frontend

fixing connectors path redirection issue no to navigate dashboard (#2187)
  kafka-ui-react-app/src/components/Connect/Connect.tsx
Owners: @provectus/kafka-frontend

fix tests name
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

remove describe duplicate
  kafka-ui-react-app/src/components/Brokers/utils/__test__/getEditorText.spec.tsx
Owners: @provectus/kafka-frontend

[ BROKER ] Add broker metrics page (#2157)
  kafka-ui-react-app/src/components/Brokers/Broker/Broker.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerLogdir/BrokerLogdir.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerLogdir/__test__/BrokerLogdir.spec.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerMetrics/BrokerMetrics.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/BrokerMetrics/__test__/BrokerMetrics.spec.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/__test__/Broker.spec.tsx
  kafka-ui-react-app/src/components/Brokers/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Brokers/utils/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Brokers/utils/__test__/getEditorText.spec.tsx
  kafka-ui-react-app/src/components/Brokers/utils/__test__/translateLogdirs.spec.tsx
  kafka-ui-react-app/src/components/Brokers/utils/getEditorText.ts
  kafka-ui-react-app/src/components/Brokers/utils/translateLogdirs.ts
  kafka-ui-react-app/src/lib/__test__/paths.spec.ts
  kafka-ui-react-app/src/lib/hooks/useBrokersMetrics.tsx
  kafka-ui-react-app/src/lib/paths.ts
Owners: @provectus/kafka-frontend

remove default value from getValue function
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
  kafka-ui-react-app/src/components/Topics/Topic/Edit/topicParamsTransformer.ts
Owners: @provectus/kafka-frontend

Fix node install cache
  .github/workflows/frontend.yaml
Owners: @Haarolean

Use pnpm (#2081)
  .github/workflows/frontend.yaml
  kafka-ui-api/pom.xml
  kafka-ui-contract/pom.xml
  kafka-ui-react-app/.gitignore
  kafka-ui-react-app/README.md
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
  kafka-ui-react-app/pnpm-lock.yaml
  pom.xml
Owners: @Haarolean, @provectus/kafka-backend, @provectus/kafka-frontend

taking ActionsCell out of List
  kafka-ui-react-app/src/components/Topics/List/ActionsCell/ActionsCell.tsx
  kafka-ui-react-app/src/components/Topics/List/List.tsx
  kafka-ui-react-app/src/components/Topics/List/ListContainer.ts
  kafka-ui-react-app/src/components/Topics/List/__tests__/List.spec.tsx
  kafka-ui-react-app/src/components/common/SmartTable/TableColumn.tsx
Owners: @provectus/kafka-frontend

add loader
  kafka-ui-react-app/src/components/Topics/Topic/Details/Details.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Statistics/Statistics.styled.ts
  kafka-ui-react-app/src/components/Topics/Topic/Details/Statistics/Statistics.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Statistics/StatisticsContainer.ts
  kafka-ui-react-app/src/components/Topics/Topic/Details/Statistics/StatisticsLoader.tsx
  kafka-ui-react-app/src/components/common/Icons/RefreshIcon.tsx
  kafka-ui-react-app/src/lib/paths.ts
  kafka-ui-react-app/src/theme/theme.ts
Owners: @provectus/kafka-frontend

fix tests names
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

removing package-lock
  kafka-ui-react-app/package-lock.json
Owners: @provectus/kafka-frontend

fix for locator (message/content)
  kafka-ui-e2e-checks/src/main/java/helpers/ApiHelper.java
  kafka-ui-e2e-checks/src/main/java/pages/topic/TopicView.java
Owners: @provectus/kafka-qa

fix for locator (message/content) v2
  kafka-ui-e2e-checks/src/main/java/pages/topic/TopicView.java
Owners: @provectus/kafka-qa

Update logdir label
  kafka-ui-react-app/src/components/Brokers/Broker/Broker.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/__test__/Broker.spec.tsx
Owners: @provectus/kafka-frontend

renamings
  kafka-ui-api/pom.xml
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/controller/MessagesController.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ClusterSerdes.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ConsumerRecordDeserializer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/SerdeInstance.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/Base64Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/Int32Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/Int64Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/StringSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/UuidBinary.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/AvroMessageFormatter.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/JsonSchemaMessageFormatter.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/MessageFormat.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/MessageFormatter.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/ProtobufMessageFormatter.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaType.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/DeserializationService.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/PropertyResolverImplTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/Base64SerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/Int32SerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/Int64SerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/RecordEmitterTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/SendAndReadTests.java
  kafka-ui-serde/src/main/java/com/provectus/kafka/ui/serde/api/Serde.java
Owners: @provectus/kafka-backend, @Haarolean

Update logdirs label (#2234)
  kafka-ui-react-app/src/components/Brokers/Broker/Broker.tsx
  kafka-ui-react-app/src/components/Brokers/Broker/__test__/Broker.spec.tsx
Owners: @provectus/kafka-frontend

Flow to update product version on AWS Marketplace (#1951)
  .github/workflows/aws_publisher.yaml
Owners: @Haarolean

Update helm issue template
  .github/ISSUE_TEMPLATE/k8s.md
Owners: @Haarolean

Update feature issue template
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/k8s.md
Owners: @Haarolean

Update bug issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @Haarolean

Add a question template
  .github/ISSUE_TEMPLATE/question.md
Owners: @Haarolean

Add a reminder to check for existing issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/k8s.md
Owners: @Haarolean

Update issues templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/k8s.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @Haarolean

.github/CODEOWNERS:

*                           @Haarolean


# BACKEND
/pom.xml                    @provectus/kafka-backend

/kafka-ui-contract/         @provectus/kafka-backend

/kafka-ui-api/              @provectus/kafka-backend

# FRONTEND
/kafka-ui-react-app/        @provectus/kafka-frontend

# TESTS
/kafka-ui-e2e-checks/       @provectus/kafka-qa

# HELM CHARTS
/charts/                    @provectus/kafka-devops
