Repository provectus/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Haarolean, @provectus/kafka-backend, @provectus/kafka-frontend, @provectus/kafka-qa, @provectus/kafka-devops

Fix incorrect order of requests for changing SR compatibility lvl (#2201)
  kafka-ui-react-app/src/components/Schemas/Edit/Edit.tsx
Owners: @provectus/kafka-frontend

serde api fix
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ConsumerRecordDeserializer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ProducerRecordCreator.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/SerdeInstance.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/Base64Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/IntegerSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/LongSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/StringSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/UuidBinary.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerializer.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serde/ProtobufFileRecordSerDeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/PropertyResolverImplTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/Base64SerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerdeTest.java
  kafka-ui-serde/src/main/java/com/provectus/kafka/ui/serde/api/Serde.java
Owners: @provectus/kafka-backend, @Haarolean

Upgrade Jest to v28
  kafka-ui-react-app/.jest/cssTransform.js
  kafka-ui-react-app/.jest/resolver.js
  kafka-ui-react-app/jest.config.ts
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
  kafka-ui-react-app/src/lib/hooks/__tests__/useDataSaver.spec.tsx
  kafka-ui-react-app/src/redux/interfaces/topic.ts
  kafka-ui-react-app/src/redux/reducers/topics/__test__/reducer.spec.ts
  kafka-ui-react-app/src/redux/reducers/topics/topicsSlice.ts
Owners: @provectus/kafka-frontend

hook
  kafka-ui-react-app/.husky/.gitignore
  kafka-ui-react-app/.husky/pre-commit
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
Owners: @provectus/kafka-frontend

Upgrade Typescript
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
  kafka-ui-react-app/src/components/ConsumerGroups/List/List.tsx
  kafka-ui-react-app/src/components/ConsumerGroups/List/__test__/ConsumerGroupsTableCells.spec.tsx
  kafka-ui-react-app/src/components/Topics/List/List.tsx
  kafka-ui-react-app/src/components/Topics/List/__tests__/TopicsTableCells.spec.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/SendMessage.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/validateMessage.ts
  kafka-ui-react-app/src/components/common/SmartTable/SmartTable.tsx
  kafka-ui-react-app/src/components/common/SmartTable/TableColumn.tsx
  kafka-ui-react-app/src/components/common/SmartTable/TableRow.tsx
  kafka-ui-react-app/src/components/common/table/TableHeaderCell/TableHeaderCell.tsx
  kafka-ui-react-app/src/lib/hooks/useTableState.ts
  kafka-ui-react-app/src/redux/reducers/consumerGroups/consumerGroupsSlice.ts
Owners: @provectus/kafka-frontend

add tests for topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/Edit.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

try to fix tests topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

Upgrade deps (#2206)
  kafka-ui-react-app/.husky/.gitignore
  kafka-ui-react-app/.husky/pre-commit
  kafka-ui-react-app/.jest/cssTransform.js
  kafka-ui-react-app/.jest/resolver.js
  kafka-ui-react-app/jest.config.ts
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
  kafka-ui-react-app/src/components/ConsumerGroups/List/List.tsx
  kafka-ui-react-app/src/components/ConsumerGroups/List/__test__/ConsumerGroupsTableCells.spec.tsx
  kafka-ui-react-app/src/components/Topics/List/List.tsx
  kafka-ui-react-app/src/components/Topics/List/__tests__/TopicsTableCells.spec.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/SendMessage.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/validateMessage.ts
  kafka-ui-react-app/src/components/common/SmartTable/SmartTable.tsx
  kafka-ui-react-app/src/components/common/SmartTable/TableColumn.tsx
  kafka-ui-react-app/src/components/common/SmartTable/TableRow.tsx
  kafka-ui-react-app/src/components/common/table/TableHeaderCell/TableHeaderCell.tsx
  kafka-ui-react-app/src/lib/hooks/__tests__/useDataSaver.spec.tsx
  kafka-ui-react-app/src/lib/hooks/useTableState.ts
  kafka-ui-react-app/src/redux/interfaces/topic.ts
  kafka-ui-react-app/src/redux/reducers/consumerGroups/consumerGroupsSlice.ts
  kafka-ui-react-app/src/redux/reducers/topics/__test__/reducer.spec.ts
  kafka-ui-react-app/src/redux/reducers/topics/topicsSlice.ts
Owners: @provectus/kafka-frontend

try to fix tests topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

Add logging for TopicAuthorizationException
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/MetricsService.java
Owners: @provectus/kafka-backend

try to fix tests topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

fix tests for topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

fix configurationfile example stored in configmap
  helm_chart.md
Owners: @Haarolean

fixing alert close icon position (#2193)
  kafka-ui-react-app/src/components/Alerts/Alert.styled.ts
Owners: @provectus/kafka-frontend

try to fix tests topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
  kafka-ui-react-app/src/components/Topics/Topic/Edit/topicParamsTransformer.ts
Owners: @provectus/kafka-frontend

Change the name of path for Schema Compare versions (#2194)
  kafka-ui-react-app/src/components/Schemas/Details/Details.tsx
  kafka-ui-react-app/src/components/Schemas/Diff/Diff.tsx
  kafka-ui-react-app/src/components/Schemas/Diff/__test__/Diff.spec.tsx
  kafka-ui-react-app/src/lib/paths.ts
Owners: @provectus/kafka-frontend

try to fix tests topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/Edit.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

try to fix tests topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

try to fix tests topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

change order of possible deployment configuration
  helm_chart.md
Owners: @Haarolean

Helm Chart Quick Start (#2176)
  README.md
  charts/kafka-ui/templates/configmap_fromValues.yaml
  helm_chart.md
Owners: @Haarolean, @provectus/kafka-devops

Update readme
  README.md
Owners: @Haarolean

chore: migrate clusters from toolkit to react-query
  kafka-ui-react-app/src/components/App.tsx
  kafka-ui-react-app/src/components/Cluster/Cluster.tsx
  kafka-ui-react-app/src/components/Cluster/__tests__/Cluster.spec.tsx
  kafka-ui-react-app/src/components/Cluster/__tests__/fixtures.ts
  kafka-ui-react-app/src/components/ConsumerGroups/Details/Details.tsx
  kafka-ui-react-app/src/components/ConsumerGroups/Details/ResetOffsets/ResetOffsets.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/ClustersWidget.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/ClustersWidgetContainer.ts
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/ClustersWidget.spec.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/ClustersWidgetContainer.spec.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Dashboard/Dashboard.tsx
  kafka-ui-react-app/src/components/Dashboard/__test__/Dashboard.spec.tsx
  kafka-ui-react-app/src/components/KsqlDb/Query/Query.tsx
  kafka-ui-react-app/src/components/Nav/Nav.tsx
  kafka-ui-react-app/src/components/Nav/__tests__/ClusterMenu.spec.tsx
  kafka-ui-react-app/src/components/Nav/__tests__/Nav.spec.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/Filters/Filters.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/Filters/utils.ts
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/SendMessage.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/validateMessage.ts
  kafka-ui-react-app/src/components/__tests__/App.spec.tsx
  kafka-ui-react-app/src/components/common/Pagination/Pagination.tsx
  kafka-ui-react-app/src/lib/hooks/api/useClusters.ts
  kafka-ui-react-app/src/lib/hooks/useDataSaver.ts
  kafka-ui-react-app/src/redux/reducers/alerts/alertsSlice.ts
  kafka-ui-react-app/src/redux/reducers/clusters/__test__/reducer.spec.ts
  kafka-ui-react-app/src/redux/reducers/clusters/__test__/selectors.spec.ts
  kafka-ui-react-app/src/redux/reducers/clusters/clustersSlice.ts
  kafka-ui-react-app/src/redux/reducers/connect/selectors.ts
  kafka-ui-react-app/src/redux/reducers/index.ts
  kafka-ui-react-app/vite.config.ts
Owners: @provectus/kafka-frontend

chore: migrate clusters from toolkit to react-query (#2214)
  kafka-ui-react-app/src/components/App.tsx
  kafka-ui-react-app/src/components/Cluster/Cluster.tsx
  kafka-ui-react-app/src/components/Cluster/__tests__/Cluster.spec.tsx
  kafka-ui-react-app/src/components/Cluster/__tests__/fixtures.ts
  kafka-ui-react-app/src/components/ConsumerGroups/Details/Details.tsx
  kafka-ui-react-app/src/components/ConsumerGroups/Details/ResetOffsets/ResetOffsets.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/ClustersWidget.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/ClustersWidgetContainer.ts
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/ClustersWidget.spec.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/ClustersWidgetContainer.spec.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Dashboard/Dashboard.tsx
  kafka-ui-react-app/src/components/Dashboard/__test__/Dashboard.spec.tsx
  kafka-ui-react-app/src/components/KsqlDb/Query/Query.tsx
  kafka-ui-react-app/src/components/Nav/Nav.tsx
  kafka-ui-react-app/src/components/Nav/__tests__/ClusterMenu.spec.tsx
  kafka-ui-react-app/src/components/Nav/__tests__/Nav.spec.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/Filters/Filters.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/Filters/utils.ts
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/SendMessage.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/validateMessage.ts
  kafka-ui-react-app/src/components/__tests__/App.spec.tsx
  kafka-ui-react-app/src/components/common/Pagination/Pagination.tsx
  kafka-ui-react-app/src/lib/hooks/api/useClusters.ts
  kafka-ui-react-app/src/lib/hooks/useDataSaver.ts
  kafka-ui-react-app/src/redux/reducers/alerts/alertsSlice.ts
  kafka-ui-react-app/src/redux/reducers/clusters/__test__/reducer.spec.ts
  kafka-ui-react-app/src/redux/reducers/clusters/__test__/selectors.spec.ts
  kafka-ui-react-app/src/redux/reducers/clusters/clustersSlice.ts
  kafka-ui-react-app/src/redux/reducers/connect/selectors.ts
  kafka-ui-react-app/src/redux/reducers/index.ts
  kafka-ui-react-app/vite.config.ts
Owners: @provectus/kafka-frontend

fix review comments
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
  kafka-ui-react-app/src/components/Topics/Topic/Edit/topicParamsTransformer.ts
Owners: @provectus/kafka-frontend

fix tests name
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
Owners: @provectus/kafka-frontend

update the way of getting branch name
  .github/workflows/branch-remove.yml
Owners: @Haarolean

Helm Chart Quick Start (#2176)
  README.md
  charts/kafka-ui/templates/configmap_fromValues.yaml
  helm_chart.md
Owners: @Haarolean, @provectus/kafka-devops

fixing logout redirect issue (#2170)
  kafka-ui-react-app/src/components/App.styled.ts
  kafka-ui-react-app/src/components/App.tsx
Owners: @provectus/kafka-frontend

Make broker table row clickable (#2151)
  kafka-ui-react-app/src/components/Brokers/BrokersList/BrokersList.style.ts
  kafka-ui-react-app/src/components/Brokers/BrokersList/BrokersList.tsx
  kafka-ui-react-app/src/components/Brokers/BrokersList/__test__/BrokersList.spec.tsx
Owners: @provectus/kafka-frontend

add asterix for custom params (#2192)
  kafka-ui-react-app/src/components/Topics/shared/Form/CustomParams/CustomParamField.tsx
Owners: @provectus/kafka-frontend

Change the name of path for Schema Compare versions (#2194)
  kafka-ui-react-app/src/components/Schemas/Details/Details.tsx
  kafka-ui-react-app/src/components/Schemas/Diff/Diff.tsx
  kafka-ui-react-app/src/components/Schemas/Diff/__test__/Diff.spec.tsx
  kafka-ui-react-app/src/lib/paths.ts
Owners: @provectus/kafka-frontend

Update readme
  README.md
Owners: @Haarolean

Upgrade deps (#2206)
  kafka-ui-react-app/.husky/.gitignore
  kafka-ui-react-app/.husky/pre-commit
  kafka-ui-react-app/.jest/cssTransform.js
  kafka-ui-react-app/.jest/resolver.js
  kafka-ui-react-app/jest.config.ts
  kafka-ui-react-app/package-lock.json
  kafka-ui-react-app/package.json
  kafka-ui-react-app/src/components/ConsumerGroups/List/List.tsx
  kafka-ui-react-app/src/components/ConsumerGroups/List/__test__/ConsumerGroupsTableCells.spec.tsx
  kafka-ui-react-app/src/components/Topics/List/List.tsx
  kafka-ui-react-app/src/components/Topics/List/__tests__/TopicsTableCells.spec.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/SendMessage.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/validateMessage.ts
  kafka-ui-react-app/src/components/common/SmartTable/SmartTable.tsx
  kafka-ui-react-app/src/components/common/SmartTable/TableColumn.tsx
  kafka-ui-react-app/src/components/common/SmartTable/TableRow.tsx
  kafka-ui-react-app/src/components/common/table/TableHeaderCell/TableHeaderCell.tsx
  kafka-ui-react-app/src/lib/hooks/__tests__/useDataSaver.spec.tsx
  kafka-ui-react-app/src/lib/hooks/useTableState.ts
  kafka-ui-react-app/src/redux/interfaces/topic.ts
  kafka-ui-react-app/src/redux/reducers/consumerGroups/consumerGroupsSlice.ts
  kafka-ui-react-app/src/redux/reducers/topics/__test__/reducer.spec.ts
  kafka-ui-react-app/src/redux/reducers/topics/topicsSlice.ts
Owners: @provectus/kafka-frontend

Fix incorrect order of requests for changing SR compatibility lvl (#2201)
  kafka-ui-react-app/src/components/Schemas/Edit/Edit.tsx
Owners: @provectus/kafka-frontend

Added Social icons (#2137)
  kafka-ui-react-app/src/components/App.styled.ts
  kafka-ui-react-app/src/components/App.tsx
  kafka-ui-react-app/src/components/common/Icons/DiscordIcon.tsx
  kafka-ui-react-app/src/components/common/Icons/GitIcon.tsx
  kafka-ui-react-app/src/theme/theme.ts
Owners: @provectus/kafka-frontend

fixing alert close icon position (#2193)
  kafka-ui-react-app/src/components/Alerts/Alert.styled.ts
Owners: @provectus/kafka-frontend

chore: migrate clusters from toolkit to react-query (#2214)
  kafka-ui-react-app/src/components/App.tsx
  kafka-ui-react-app/src/components/Cluster/Cluster.tsx
  kafka-ui-react-app/src/components/Cluster/__tests__/Cluster.spec.tsx
  kafka-ui-react-app/src/components/Cluster/__tests__/fixtures.ts
  kafka-ui-react-app/src/components/ConsumerGroups/Details/Details.tsx
  kafka-ui-react-app/src/components/ConsumerGroups/Details/ResetOffsets/ResetOffsets.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/ClustersWidget.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/ClustersWidgetContainer.ts
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/ClustersWidget.spec.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/ClustersWidgetContainer.spec.tsx
  kafka-ui-react-app/src/components/Dashboard/ClustersWidget/__test__/fixtures.ts
  kafka-ui-react-app/src/components/Dashboard/Dashboard.tsx
  kafka-ui-react-app/src/components/Dashboard/__test__/Dashboard.spec.tsx
  kafka-ui-react-app/src/components/KsqlDb/Query/Query.tsx
  kafka-ui-react-app/src/components/Nav/Nav.tsx
  kafka-ui-react-app/src/components/Nav/__tests__/ClusterMenu.spec.tsx
  kafka-ui-react-app/src/components/Nav/__tests__/Nav.spec.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/Filters/Filters.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Details/Messages/Filters/utils.ts
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/SendMessage.tsx
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/validateMessage.ts
  kafka-ui-react-app/src/components/__tests__/App.spec.tsx
  kafka-ui-react-app/src/components/common/Pagination/Pagination.tsx
  kafka-ui-react-app/src/lib/hooks/api/useClusters.ts
  kafka-ui-react-app/src/lib/hooks/useDataSaver.ts
  kafka-ui-react-app/src/redux/reducers/alerts/alertsSlice.ts
  kafka-ui-react-app/src/redux/reducers/clusters/__test__/reducer.spec.ts
  kafka-ui-react-app/src/redux/reducers/clusters/__test__/selectors.spec.ts
  kafka-ui-react-app/src/redux/reducers/clusters/clustersSlice.ts
  kafka-ui-react-app/src/redux/reducers/connect/selectors.ts
  kafka-ui-react-app/src/redux/reducers/index.ts
  kafka-ui-react-app/vite.config.ts
Owners: @provectus/kafka-frontend

do not run remove action if label not set
  .github/workflows/branch-remove.yml
Owners: @Haarolean

move to pr number instead of branch name
  .github/workflows/branch-deploy.yml
  .github/workflows/branch-remove.yml
Owners: @Haarolean

.github/CODEOWNERS:

*                           @Haarolean


# BACKEND
/pom.xml                    @provectus/kafka-backend

/kafka-ui-contract/         @provectus/kafka-backend

/kafka-ui-api/              @provectus/kafka-backend

# FRONTEND
/kafka-ui-react-app/        @provectus/kafka-frontend

# TESTS
/kafka-ui-e2e-checks/       @provectus/kafka-qa

# HELM CHARTS
/charts/                    @provectus/kafka-devops
