Repository provectus/kafka-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Haarolean, @provectus/kafka-backend, @provectus/kafka-frontend, @provectus/kafka-qa, @provectus/kafka-devops

update the way of getting branch name
  .github/workflows/branch-remove.yml
Owners: @Haarolean

update the way of getting branch name
  .github/workflows/branch-remove.yml
Owners: @Haarolean

update the way of getting branch name
  .github/workflows/branch-remove.yml
Owners: @Haarolean

update the way of getting branch name
  .github/workflows/branch-remove.yml
Owners: @Haarolean

update the way of getting branch name
  .github/workflows/branch-remove.yml
Owners: @Haarolean

move to pr number instead of branch name
  .github/workflows/branch-deploy.yml
  .github/workflows/branch-remove.yml
Owners: @Haarolean

move to pr number instead of branch name
  .github/workflows/branch-deploy.yml
  .github/workflows/branch-remove.yml
Owners: @Haarolean

move to pr number instead of branch name
  .github/workflows/branch-remove.yml
Owners: @Haarolean

start use pr number instead of branch name for custom deployments
  .github/workflows/branch-deploy.yml
  .github/workflows/branch-remove.yml
Owners: @Haarolean

start use pr number instead of branch name for custom deployments (#2179)
  .github/workflows/branch-deploy.yml
  .github/workflows/branch-remove.yml
Owners: @Haarolean

wip
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/controller/MessagesController.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ClusterSerdes.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/DeserializationService.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/TopicsService.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serde/schemaregistry/SchemaRegistryAwareRecordSerDeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/SendAndReadTests.java
  kafka-ui-contract/src/main/resources/swagger/kafka-ui-api.yaml
Owners: @provectus/kafka-backend

deploy: d0e1e2bf6a5e7172bd1f23ed9aacbc1e90831e0d
  allure/allure-results/6807/export/influxDbData.txt
  allure/allure-results/6808/app.js
  allure/allure-results/6808/data/behaviors.csv
  allure/allure-results/6808/data/behaviors.json
  allure/allure-results/6808/data/categories.csv
  allure/allure-results/6808/data/categories.json
  allure/allure-results/6808/data/packages.json
  allure/allure-results/6808/data/suites.csv
  allure/allure-results/6808/data/suites.json
  allure/allure-results/6808/data/timeline.json
  allure/allure-results/6808/export/influxDbData.txt
  allure/allure-results/6808/export/mail.html
  allure/allure-results/6808/export/prometheusData.txt
  allure/allure-results/6808/favicon.ico
  allure/allure-results/6808/history/categories-trend.json
  allure/allure-results/6808/history/duration-trend.json
  allure/allure-results/6808/history/history-trend.json
  allure/allure-results/6808/history/history.json
  allure/allure-results/6808/history/retry-trend.json
  allure/allure-results/6808/index.html
  allure/allure-results/6808/plugins/behaviors/index.js
  allure/allure-results/6808/plugins/packages/index.js
  allure/allure-results/6808/plugins/screen-diff/index.js
  allure/allure-results/6808/plugins/screen-diff/styles.css
  allure/allure-results/6808/styles.css
  allure/allure-results/6808/widgets/behaviors.json
  allure/allure-results/6808/widgets/categories-trend.json
  allure/allure-results/6808/widgets/categories.json
  allure/allure-results/6808/widgets/duration-trend.json
  allure/allure-results/6808/widgets/duration.json
  allure/allure-results/6808/widgets/environment.json
  allure/allure-results/6808/widgets/executors.json
  allure/allure-results/6808/widgets/history-trend.json
  allure/allure-results/6808/widgets/launch.json
  allure/allure-results/6808/widgets/retry-trend.json
  allure/allure-results/6808/widgets/severity.json
  allure/allure-results/6808/widgets/status-chart.json
  allure/allure-results/6808/widgets/suites.json
  allure/allure-results/6808/widgets/summary.json
  allure/allure-results/index.html
Owners: @Haarolean

fixing connectors path redirection issue no to navigate dashboard
  kafka-ui-react-app/src/components/Connect/Connect.tsx
Owners: @provectus/kafka-frontend

checkstyle
  etc/checkstyle/checkstyle.xml
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/config/ClustersProperties.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ClusterSerdes.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ConsumerRecordDeserializer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/ProducerRecordCreator.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/PropertyResolverImpl.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/SerdeInstance.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/Base64Serde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/IntegerSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/LongSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/StringSerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/UuidBinary.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/JsonSchemaSchemaRegistrySerializer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerde.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/serdes/builtin/sr/SchemaRegistrySerializer.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/DeserializationService.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/MessagesService.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/TopicsService.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/serdes/builtin/ProtobufFileSerdeTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/MessagesServiceTest.java
  kafka-ui-api/src/test/java/com/provectus/kafka/ui/service/RecordEmitterTest.java
Owners: @Haarolean, @provectus/kafka-backend

node version reverted
  pom.xml
Owners: @provectus/kafka-backend

deploy: d0e1e2bf6a5e7172bd1f23ed9aacbc1e90831e0d
  allure/allure-results/6813/export/influxDbData.txt
  allure/allure-results/6814/app.js
  allure/allure-results/6814/data/behaviors.csv
  allure/allure-results/6814/data/behaviors.json
  allure/allure-results/6814/data/categories.csv
  allure/allure-results/6814/data/categories.json
  allure/allure-results/6814/data/packages.json
  allure/allure-results/6814/data/suites.csv
  allure/allure-results/6814/data/suites.json
  allure/allure-results/6814/data/timeline.json
  allure/allure-results/6814/export/influxDbData.txt
  allure/allure-results/6814/export/mail.html
  allure/allure-results/6814/export/prometheusData.txt
  allure/allure-results/6814/favicon.ico
  allure/allure-results/6814/history/categories-trend.json
  allure/allure-results/6814/history/duration-trend.json
  allure/allure-results/6814/history/history-trend.json
  allure/allure-results/6814/history/history.json
  allure/allure-results/6814/history/retry-trend.json
  allure/allure-results/6814/index.html
  allure/allure-results/6814/plugins/behaviors/index.js
  allure/allure-results/6814/plugins/packages/index.js
  allure/allure-results/6814/plugins/screen-diff/index.js
  allure/allure-results/6814/plugins/screen-diff/styles.css
  allure/allure-results/6814/styles.css
  allure/allure-results/6814/widgets/behaviors.json
  allure/allure-results/6814/widgets/categories-trend.json
  allure/allure-results/6814/widgets/categories.json
  allure/allure-results/6814/widgets/duration-trend.json
  allure/allure-results/6814/widgets/duration.json
  allure/allure-results/6814/widgets/environment.json
  allure/allure-results/6814/widgets/executors.json
  allure/allure-results/6814/widgets/history-trend.json
  allure/allure-results/6814/widgets/launch.json
  allure/allure-results/6814/widgets/retry-trend.json
  allure/allure-results/6814/widgets/severity.json
  allure/allure-results/6814/widgets/status-chart.json
  allure/allure-results/6814/widgets/suites.json
  allure/allure-results/6814/widgets/summary.json
  allure/allure-results/index.html
Owners: @Haarolean

deploy: d0e1e2bf6a5e7172bd1f23ed9aacbc1e90831e0d
  allure/allure-results/6814/export/influxDbData.txt
  allure/allure-results/6815/app.js
  allure/allure-results/6815/data/behaviors.csv
  allure/allure-results/6815/data/behaviors.json
  allure/allure-results/6815/data/categories.csv
  allure/allure-results/6815/data/categories.json
  allure/allure-results/6815/data/packages.json
  allure/allure-results/6815/data/suites.csv
  allure/allure-results/6815/data/suites.json
  allure/allure-results/6815/data/timeline.json
  allure/allure-results/6815/export/influxDbData.txt
  allure/allure-results/6815/export/mail.html
  allure/allure-results/6815/export/prometheusData.txt
  allure/allure-results/6815/favicon.ico
  allure/allure-results/6815/history/categories-trend.json
  allure/allure-results/6815/history/duration-trend.json
  allure/allure-results/6815/history/history-trend.json
  allure/allure-results/6815/history/history.json
  allure/allure-results/6815/history/retry-trend.json
  allure/allure-results/6815/index.html
  allure/allure-results/6815/plugins/behaviors/index.js
  allure/allure-results/6815/plugins/packages/index.js
  allure/allure-results/6815/plugins/screen-diff/index.js
  allure/allure-results/6815/plugins/screen-diff/styles.css
  allure/allure-results/6815/styles.css
  allure/allure-results/6815/widgets/behaviors.json
  allure/allure-results/6815/widgets/categories-trend.json
  allure/allure-results/6815/widgets/categories.json
  allure/allure-results/6815/widgets/duration-trend.json
  allure/allure-results/6815/widgets/duration.json
  allure/allure-results/6815/widgets/environment.json
  allure/allure-results/6815/widgets/executors.json
  allure/allure-results/6815/widgets/history-trend.json
  allure/allure-results/6815/widgets/launch.json
  allure/allure-results/6815/widgets/retry-trend.json
  allure/allure-results/6815/widgets/severity.json
  allure/allure-results/6815/widgets/status-chart.json
  allure/allure-results/6815/widgets/suites.json
  allure/allure-results/6815/widgets/summary.json
  allure/allure-results/index.html
Owners: @Haarolean

api comments
  kafka-ui-contract/src/main/resources/swagger/kafka-ui-api.yaml
Owners: @provectus/kafka-backend

deploy: d0e1e2bf6a5e7172bd1f23ed9aacbc1e90831e0d
  allure/allure-results/6815/export/influxDbData.txt
  allure/allure-results/6816/app.js
  allure/allure-results/6816/data/behaviors.csv
  allure/allure-results/6816/data/behaviors.json
  allure/allure-results/6816/data/categories.csv
  allure/allure-results/6816/data/categories.json
  allure/allure-results/6816/data/packages.json
  allure/allure-results/6816/data/suites.csv
  allure/allure-results/6816/data/suites.json
  allure/allure-results/6816/data/timeline.json
  allure/allure-results/6816/export/influxDbData.txt
  allure/allure-results/6816/export/mail.html
  allure/allure-results/6816/export/prometheusData.txt
  allure/allure-results/6816/favicon.ico
  allure/allure-results/6816/history/categories-trend.json
  allure/allure-results/6816/history/duration-trend.json
  allure/allure-results/6816/history/history-trend.json
  allure/allure-results/6816/history/history.json
  allure/allure-results/6816/history/retry-trend.json
  allure/allure-results/6816/index.html
  allure/allure-results/6816/plugins/behaviors/index.js
  allure/allure-results/6816/plugins/packages/index.js
  allure/allure-results/6816/plugins/screen-diff/index.js
  allure/allure-results/6816/plugins/screen-diff/styles.css
  allure/allure-results/6816/styles.css
  allure/allure-results/6816/widgets/behaviors.json
  allure/allure-results/6816/widgets/categories-trend.json
  allure/allure-results/6816/widgets/categories.json
  allure/allure-results/6816/widgets/duration-trend.json
  allure/allure-results/6816/widgets/duration.json
  allure/allure-results/6816/widgets/environment.json
  allure/allure-results/6816/widgets/executors.json
  allure/allure-results/6816/widgets/history-trend.json
  allure/allure-results/6816/widgets/launch.json
  allure/allure-results/6816/widgets/retry-trend.json
  allure/allure-results/6816/widgets/severity.json
  allure/allure-results/6816/widgets/status-chart.json
  allure/allure-results/6816/widgets/suites.json
  allure/allure-results/6816/widgets/summary.json
  allure/allure-results/index.html
Owners: @Haarolean

Add JMX to features enum
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/model/Feature.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/service/FeatureService.java
  kafka-ui-contract/src/main/resources/swagger/kafka-ui-api.yaml
Owners: @provectus/kafka-backend

unused properties removed
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/config/ClustersProperties.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/mapper/ClusterMapper.java
  kafka-ui-api/src/main/java/com/provectus/kafka/ui/model/KafkaCluster.java
Owners: @provectus/kafka-backend

deploy: d0e1e2bf6a5e7172bd1f23ed9aacbc1e90831e0d
  allure/allure-results/6819/export/influxDbData.txt
  allure/allure-results/6820/app.js
  allure/allure-results/6820/data/behaviors.csv
  allure/allure-results/6820/data/behaviors.json
  allure/allure-results/6820/data/categories.csv
  allure/allure-results/6820/data/categories.json
  allure/allure-results/6820/data/packages.json
  allure/allure-results/6820/data/suites.csv
  allure/allure-results/6820/data/suites.json
  allure/allure-results/6820/data/timeline.json
  allure/allure-results/6820/export/influxDbData.txt
  allure/allure-results/6820/export/mail.html
  allure/allure-results/6820/export/prometheusData.txt
  allure/allure-results/6820/favicon.ico
  allure/allure-results/6820/history/categories-trend.json
  allure/allure-results/6820/history/duration-trend.json
  allure/allure-results/6820/history/history-trend.json
  allure/allure-results/6820/history/history.json
  allure/allure-results/6820/history/retry-trend.json
  allure/allure-results/6820/index.html
  allure/allure-results/6820/plugins/behaviors/index.js
  allure/allure-results/6820/plugins/packages/index.js
  allure/allure-results/6820/plugins/screen-diff/index.js
  allure/allure-results/6820/plugins/screen-diff/styles.css
  allure/allure-results/6820/styles.css
  allure/allure-results/6820/widgets/behaviors.json
  allure/allure-results/6820/widgets/categories-trend.json
  allure/allure-results/6820/widgets/categories.json
  allure/allure-results/6820/widgets/duration-trend.json
  allure/allure-results/6820/widgets/duration.json
  allure/allure-results/6820/widgets/environment.json
  allure/allure-results/6820/widgets/executors.json
  allure/allure-results/6820/widgets/history-trend.json
  allure/allure-results/6820/widgets/launch.json
  allure/allure-results/6820/widgets/retry-trend.json
  allure/allure-results/6820/widgets/severity.json
  allure/allure-results/6820/widgets/status-chart.json
  allure/allure-results/6820/widgets/suites.json
  allure/allure-results/6820/widgets/summary.json
  allure/allure-results/index.html
Owners: @Haarolean

Added key-value form for stream parameters
  kafka-ui-react-app/src/components/KsqlDb/Query/QueryForm/QueryForm.styled.ts
  kafka-ui-react-app/src/components/KsqlDb/Query/QueryForm/QueryForm.tsx
  kafka-ui-react-app/src/components/KsqlDb/Query/QueryForm/__test__/QueryForm.spec.tsx
  kafka-ui-react-app/src/components/KsqlDb/Query/__test__/Query.spec.tsx
Owners: @provectus/kafka-frontend

deploy: d0e1e2bf6a5e7172bd1f23ed9aacbc1e90831e0d
  allure/allure-results/6820/export/influxDbData.txt
  allure/allure-results/6822/app.js
  allure/allure-results/6822/data/behaviors.csv
  allure/allure-results/6822/data/behaviors.json
  allure/allure-results/6822/data/categories.csv
  allure/allure-results/6822/data/categories.json
  allure/allure-results/6822/data/packages.json
  allure/allure-results/6822/data/suites.csv
  allure/allure-results/6822/data/suites.json
  allure/allure-results/6822/data/timeline.json
  allure/allure-results/6822/export/influxDbData.txt
  allure/allure-results/6822/export/mail.html
  allure/allure-results/6822/export/prometheusData.txt
  allure/allure-results/6822/favicon.ico
  allure/allure-results/6822/history/categories-trend.json
  allure/allure-results/6822/history/duration-trend.json
  allure/allure-results/6822/history/history-trend.json
  allure/allure-results/6822/history/history.json
  allure/allure-results/6822/history/retry-trend.json
  allure/allure-results/6822/index.html
  allure/allure-results/6822/plugins/behaviors/index.js
  allure/allure-results/6822/plugins/packages/index.js
  allure/allure-results/6822/plugins/screen-diff/index.js
  allure/allure-results/6822/plugins/screen-diff/styles.css
  allure/allure-results/6822/styles.css
  allure/allure-results/6822/widgets/behaviors.json
  allure/allure-results/6822/widgets/categories-trend.json
  allure/allure-results/6822/widgets/categories.json
  allure/allure-results/6822/widgets/duration-trend.json
  allure/allure-results/6822/widgets/duration.json
  allure/allure-results/6822/widgets/environment.json
  allure/allure-results/6822/widgets/executors.json
  allure/allure-results/6822/widgets/history-trend.json
  allure/allure-results/6822/widgets/launch.json
  allure/allure-results/6822/widgets/retry-trend.json
  allure/allure-results/6822/widgets/severity.json
  allure/allure-results/6822/widgets/status-chart.json
  allure/allure-results/6822/widgets/suites.json
  allure/allure-results/6822/widgets/summary.json
  allure/allure-results/index.html
Owners: @Haarolean

Removed unused variable
  kafka-ui-react-app/src/components/KsqlDb/Query/QueryForm/QueryForm.tsx
Owners: @provectus/kafka-frontend

Tests problem handled
  kafka-ui-react-app/src/components/Topics/Topic/SendMessage/__test__/SendMessage.spec.tsx
Owners: @provectus/kafka-frontend

add asterix for custom params
  kafka-ui-react-app/src/components/Topics/shared/Form/CustomParams/CustomParamField.tsx
Owners: @provectus/kafka-frontend

Social Network Links
  kafka-ui-react-app/src/components/App.styled.ts
  kafka-ui-react-app/src/components/App.tsx
  kafka-ui-react-app/src/components/common/Icons/DiscordIcon.tsx
  kafka-ui-react-app/src/components/common/Icons/GitIcon.tsx
  kafka-ui-react-app/src/theme/theme.ts
Owners: @provectus/kafka-frontend

fixing alert close icon position
  kafka-ui-react-app/src/components/Alerts/Alert.styled.ts
Owners: @provectus/kafka-frontend

Change the name of path for Schema Compare versions
  kafka-ui-react-app/src/components/Schemas/Details/Details.tsx
  kafka-ui-react-app/src/components/Schemas/Diff/Diff.tsx
  kafka-ui-react-app/src/components/Schemas/Diff/__test__/Diff.spec.tsx
  kafka-ui-react-app/src/lib/paths.ts
Owners: @provectus/kafka-frontend

Added Social icons (#2137)
  kafka-ui-react-app/src/components/App.styled.ts
  kafka-ui-react-app/src/components/App.tsx
  kafka-ui-react-app/src/components/common/Icons/DiscordIcon.tsx
  kafka-ui-react-app/src/components/common/Icons/GitIcon.tsx
  kafka-ui-react-app/src/theme/theme.ts
Owners: @provectus/kafka-frontend

Make broker table row clickable (#2151)
  kafka-ui-react-app/src/components/Brokers/BrokersList/BrokersList.style.ts
  kafka-ui-react-app/src/components/Brokers/BrokersList/BrokersList.tsx
  kafka-ui-react-app/src/components/Brokers/BrokersList/__test__/BrokersList.spec.tsx
Owners: @provectus/kafka-frontend

add asterix for custom params (#2192)
  kafka-ui-react-app/src/components/Topics/shared/Form/CustomParams/CustomParamField.tsx
Owners: @provectus/kafka-frontend

deploy: aa839b4d69106e50500d4a80ac4e65a26c9c8bc7
  allure/allure-results/6835/export/influxDbData.txt
  allure/allure-results/6836/app.js
  allure/allure-results/6836/data/behaviors.csv
  allure/allure-results/6836/data/behaviors.json
  allure/allure-results/6836/data/categories.csv
  allure/allure-results/6836/data/categories.json
  allure/allure-results/6836/data/packages.json
  allure/allure-results/6836/data/suites.csv
  allure/allure-results/6836/data/suites.json
  allure/allure-results/6836/data/timeline.json
  allure/allure-results/6836/export/influxDbData.txt
  allure/allure-results/6836/export/mail.html
  allure/allure-results/6836/export/prometheusData.txt
  allure/allure-results/6836/favicon.ico
  allure/allure-results/6836/history/categories-trend.json
  allure/allure-results/6836/history/duration-trend.json
  allure/allure-results/6836/history/history-trend.json
  allure/allure-results/6836/history/history.json
  allure/allure-results/6836/history/retry-trend.json
  allure/allure-results/6836/index.html
  allure/allure-results/6836/plugins/behaviors/index.js
  allure/allure-results/6836/plugins/packages/index.js
  allure/allure-results/6836/plugins/screen-diff/index.js
  allure/allure-results/6836/plugins/screen-diff/styles.css
  allure/allure-results/6836/styles.css
  allure/allure-results/6836/widgets/behaviors.json
  allure/allure-results/6836/widgets/categories-trend.json
  allure/allure-results/6836/widgets/categories.json
  allure/allure-results/6836/widgets/duration-trend.json
  allure/allure-results/6836/widgets/duration.json
  allure/allure-results/6836/widgets/environment.json
  allure/allure-results/6836/widgets/executors.json
  allure/allure-results/6836/widgets/history-trend.json
  allure/allure-results/6836/widgets/launch.json
  allure/allure-results/6836/widgets/retry-trend.json
  allure/allure-results/6836/widgets/severity.json
  allure/allure-results/6836/widgets/status-chart.json
  allure/allure-results/6836/widgets/suites.json
  allure/allure-results/6836/widgets/summary.json
  allure/allure-results/index.html
Owners: @Haarolean

fixing logout problem
  kafka-ui-react-app/src/components/App.styled.ts
  kafka-ui-react-app/src/components/App.tsx
Owners: @provectus/kafka-frontend

fixing compatibility and schema update order
  kafka-ui-react-app/src/components/Schemas/Edit/Edit.tsx
Owners: @provectus/kafka-frontend

fixing logout redirect issue (#2170)
  kafka-ui-react-app/src/components/App.styled.ts
  kafka-ui-react-app/src/components/App.tsx
Owners: @provectus/kafka-frontend

fix topic edit form
  kafka-ui-react-app/src/components/Topics/Topic/Edit/Edit.tsx
  kafka-ui-react-app/src/components/Topics/shared/Form/TopicForm.tsx
  kafka-ui-react-app/src/redux/reducers/topics/topicsSlice.ts
Owners: @provectus/kafka-frontend

remove unused import
  kafka-ui-react-app/src/components/Topics/Topic/Edit/Edit.tsx
Owners: @provectus/kafka-frontend

add test for topicParamsTransformer
  kafka-ui-react-app/src/components/Topics/Topic/Edit/Edit.tsx
  kafka-ui-react-app/src/components/Topics/Topic/Edit/__test__/topicParamsTransformer.spec.ts
  kafka-ui-react-app/src/components/Topics/Topic/Edit/topicParamsTransformer.ts
Owners: @provectus/kafka-frontend

.github/CODEOWNERS:

*                           @Haarolean


# BACKEND
/pom.xml                    @provectus/kafka-backend

/kafka-ui-contract/         @provectus/kafka-backend

/kafka-ui-api/              @provectus/kafka-backend

# FRONTEND
/kafka-ui-react-app/        @provectus/kafka-frontend

# TESTS
/kafka-ui-e2e-checks/       @provectus/kafka-qa

# HELM CHARTS
/charts/                    @provectus/kafka-devops
